occluded-content {
  /* prevents margin overflow on item container */
  min-width: 0.01px;

  /* hides text visually while still being readable by screen readers */
  color: rgba(0,0,0,0); 
  flex: 0 0 auto;
}

table > occluded-content,
tbody > occluded-content,
thead > occluded-content {
  display: table-row;
  position: relative;
}

ul > occluded-content,
ol > occluded-content {
  display: list-item;
  position: relative;
  list-style-type: none;
}
