<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6">
      <h3>Vertical Scroll</h3>
      {{!- BEGIN-SNIPPET vertical-infinite-scroll-example }}
        <div class="table-wrapper dark">
          {{#vertical-collection model.numbers
            estimateHeight=90
            staticHeight=true
            bufferSize=5

            firstReached="loadAbove"
            lastReached="loadBelow"

            as |item index|
          }}
            {{number-slide item=item index=index}}
          {{/vertical-collection}}
        </div>
      {{!- END-SNIPPET }}
      <h4>Code for Demo</h4>
      {{code-snippet name="vertical-infinite-scroll-example.hbs"}}
    </div>
    <div class="col-sm-6">
      <h3>Horizontal Scroll</h3>
      {{!- BEGIN-SNIPPET horizontal-infinite-scroll-example }}
        <div class="table-wrapper dark scrollable-horizontal">
          {{#horizontal-collection model.numbers
            estimateWidth=90
            staticWidth=true
            bufferSize=5

            firstReached="loadBefore"
            lastReached="loadAfter"

            as |item index|
          }}
            {{number-slide item=item index=index}}
          {{/horizontal-collection}}
        </div>
      {{!- END-SNIPPET }}
      <h4>Code for Demo</h4>
      {{code-snippet name="horizontal-infinite-scroll-example.hbs"}}
    </div>
  </div>
</div>
